body {

	background-color: #0b638e !important;
background-image: url(http://www.transparenttextures.com/patterns/batthern.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.box{
	width: 450px;
	height: 410px;
	background-color: #928e96;
	border: 10px ridge;
	margin: 0 auto;
	margin-top: 100px;
}

.title {
	width: 400px;
	height: 50px;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
}


.score {
	width: 400px;
	height: 80px;
	background-color: white;
	border: 5px ridge;
	margin: 0 auto;
}

.response {
	width: 400px;
	height: 160px;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
}

.song {
	width: 400px;
	height: 50px;
	border: 5px ridge;
	background-color: white;
	margin: 0 auto;
}

.next {
	width: 400px;
	height: 50px;
	border: 5px solid black;
	margin: 0 auto;
}

.start {
	width: 400px;
	height: 50px;
	border: 5px solid black;
	margin: 0 auto;
}

.next {
	/*padding-top: 5px;*/
}