*, 
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
	background-color: #0b638e !important;
	background-image: url(http://www.transparenttextures.com/patterns/batthern.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.box{
	width: 43rem;
	height: 41rem;
	background-color: #928e96;
	border: 10px ridge;
	margin: 100px auto 0 auto;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 2px solid red; */
}

.title {
	width: 40rem;
	height: 5rem;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
	/* border: 2px solid red; */
}

.score {
	width: 40rem;
	height: 8rem;
	background-color: white;
	border: 5px ridge;
	margin: 0 auto;
	/* border: 2px solid red; */
}

.response {
	width: 40rem;
	height: 15rem;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
	/* border: 2px solid red; */
}

.song {
	width: 40rem;
	height: 7rem;
	border: 5px ridge;
	background-color: white;
	margin: 0 auto;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
}

.center {
	text-align: center;
}

.response * {
	text-align: center;
}

.btn-group button:nth-child(1) {
	/* border: 2px solid gold; */
	display: inline-block;
	width: 15%;
	margin: 10px 2.5px 0 150px;
}

.btn-group button:nth-child(2) {
	/* border: 2px solid salmon; */
	display: inline-block;
	width: 15%;
	margin: 10px 0 0 2.5px;
}

/****************************************************************************
* Media Queries
*****************************************************************************/

@media screen and (max-device-width: 1440px) {
	
	.box {
		width: 55rem;
		height: 52rem;
	}
	.title {
		font-size: 4rem;
		width: 50rem;
		height: 8rem;
	}
	.score {
		font-size: 3.5rem;
		height: 12rem;
		width: 50rem;
	}
	.response {
		width: 50rem;
		height: 18rem;
	}
	.response p {
		font-size: 1.9rem;
	}
	.song {
		width: 50rem;
	}
	.btn-group button:nth-child(1) {
		margin: 10px 2.5px 0 200px;

	}


  }

@media screen and (max-device-width: 768px) {

	.box {
		width: 45rem;
		height: 52rem;
	}
	.title {
		font-size: 2rem;
		width: 40rem;
	}
	.score {
		font-size: 2rem;
		width: 40rem;
	}
	.response {
		width: 40rem;
		height: 18rem;
	}
	.response p {
		font-size: 1.5rem;
	}
	.song {
		width: 40rem;
	}
	.btn-group button:nth-child(1) {
		/* border: 2px solid gold; */
		display: inline-block;
		width: 15%;
		margin: 10px 2.5px 0 150px;
	}

  }

  @media screen and (max-device-width: 525px) {
	.box {
		width: 35rem;
		height: 52rem;
	}
	.title {
		font-size: 2rem;
		width: 30rem;
	}
	.score {
		font-size: 2rem;
		width: 30rem;
	}
	.response {
		width: 30rem;
		height: 18rem;
	}
	.response p {
		font-size: 1.5rem;
	}
	.song {
		width: 30rem;
	}
	.btn-group button:nth-child(1) {
		/* border: 2px solid gold; */
		display: inline-block;
		width: 15%;
		margin: 10px 2.5px 0 100px;
	}
	audio {
		width: 90%;
	}

  }

  @media screen and (max-device-width: 325px) {
	
	.box {
		width: 30rem;
		height: 52rem;
	}
	.title {
		font-size: 2rem;
		width: 25rem;
	}
	.score {
		font-size: 2rem;
		width: 25rem;
	}
	.response {
		width: 25rem;
		height: 18rem;
	}
	.song {
		width: 25rem;
	}
	.btn-group button:nth-child(1) {
		/* border: 2px solid gold; */
		display: inline-block;
		width: 15%;
		margin: 10px 2.5px 0 100px;
	}

  }