.box{
	width: 450px;
	height: 400px;
	background-color: #928e96;
	border: 10px ridge;
	margin: 0 auto;
}

.title {
	width: 400px;
	height: 50px;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
}


.score {
	width: 400px;
	height: 80px;
	background-color: white;
	border: 5px ridge;
	margin: 0 auto;
}

.response {
	width: 400px;
	height: 160px;
	background-color: #3baae2;
	border: 5px ridge;
	margin: 0 auto;
}

.song {
	width: 400px;
	height: 50px;
	border: 5px ridge;
	background-color: white;
	margin: 0 auto;
}

.next {
	width: 400px;
	height: 50px;
	border: 5px solid black;
	margin: 0 auto;
}

.start {
	width: 400px;
	height: 50px;
	border: 5px solid black;
	margin: 0 auto;
}